.supports {

    height: 100%;
    min-height: 100%;

    &:after {
        content: '';
        display: block;
    }

    .supports__title {
        margin-top: 3em;
        text-align: center;
        small {
            display: block;
            padding: 1em 0;
        }
    }

    &__browser {
        @extend .thumbnail;
    
        background: none;
        border: none;
        float: left;
        width: 33%;
        margin-top: 2em;

        > img {
            max-width: 100px;
            max-height: 100%;
            display: block;
        }
    }

    .footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}