.pagination {
    li {
        a,
        span {
            border: none;
            color: $green;
        }
    }

    .active {
        span {
            background-color: $green;
        }
    }
}