 <div 
    class="interactive-map"
    v-bind:style="{ width: width + 'px', height: height + 'px'}">
    <google-map 
        v-ref:google
        v-bind:route="route"
        v-bind:things="selectedThings"
    ></google-map>
    <form @submit.prevent="navigateMe" accept-charset="utf-8">
        <fieldset class="top">
            <mode :mode.sync="route.travelMode"></mode>
            <origin :origin.sync="route.origin"></origin>
            <waypoint :waypoints.sync="route.waypoints"></waypoint>
            <destinations :selected.sync="route.destination"></destinations>
        </fieldset>
        <fieldset class="bottom">
            <div 
                v-if="route.travelMode == 'DRIVING'" 
                class="waypoints"
            >
                <legend>ตัวเลือก</legend>
                <div 
                    class="col-sm-6"
                    v-for="thing in things"
                >
                    <label class="checkbox-inline">
                         <input 
                            v-model="thing.selected"
                            type="checkbox"
                        > {{ thing.name }}    
                    </label>
                </div>
            </div>
        </fieldset>
    </form>
</div>