.cards {
    .row {
        margin-left: 0;
        margin-right: 0; 
    }
}

.card {
    @extend .col-md-4;
    margin-bottom: 30px;
    &__image {
        img {
            @extend .img-responsive;
        }
    }
    &__excerpt {
        min-height: 65px;
    }
    &__details {
        background-color: #fff;
        padding: 20px 15px 15px;
    }

    &__title {
        margin: 0;
    }

    &__buttons {
        background-color: #fff;
        border-top: 1px solid $gray-lighter;
        p {
            float: left;
            padding: 15px;
            width: 50%;
        }

        a, button  {
            @extend .btn;
            color: $green;
            background: none;
            width: 23%;
            padding: 15px 25px;
            &:not(:first-child) {
                border-left: 1px solid $gray-lighter;
            }
        }
    }   
}