.copyright {
    color: #fff;
    border-top: rgba(#fff, .5) solid 1px;
    font-size: 80%;
    line-height: 40px;
    text-align: center;

    .thai, .eng {
        @extend .col-md-6;
    }

    @media (min-width: $screen-lg-min) {
        .thai {
            text-align: left;
        }

        .eng {
            text-align: right;
        }
    }
}