.filter {
    @extend .row;
    margin: 0 15px 40px;
    
    &__heading {
        color: #fff;
        background-color: $green;
        padding: 10px;
        
        &__title {
            margin: 0;
        }
    }
    
    &__body {
        color: #fff;
        background-color: $green-lighter;
        overflow: hidden;
    }

    &__category {
        @extend .col-md-3;
    }
}