.navbar-flag {
    @extend .nav;
    @extend .nav-pills;
    float: left;
    & &__button {
        padding: 0 3px;
        &__tha, &__eng {
            @extend .text-hide;
            background: url($sprite-path) no-repeat;
            border-radius: 0;
            padding: 0;
            margin-top: 20px;
            width: 23px;
            height: 14px;
        }

        &__tha {
            background-position:  0 -64px;
        }

        &__eng {
            background-position:  0 -78px;
        }
    }
}