@font-face {
    font-family: 'Quarkbold';
    src: url('../fonts/quark-bold-webfont.eot');
    src: url('../fonts/quark-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quark-bold-webfont.woff2') format('woff2'),
         url('../fonts/quark-bold-webfont.woff') format('woff'),
         url('../fonts/quark-bold-webfont.ttf') format('truetype'),
         url('../fonts/quark-bold-webfont.svg#Quarkbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Quarklight';
    src: url('../fonts/quark-light-webfont.eot');
    src: url('../fonts/quark-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quark-light-webfont.woff2') format('woff2'),
         url('../fonts/quark-light-webfont.woff') format('woff'),
         url('../fonts/quark-light-webfont.ttf') format('truetype'),
         url('../fonts/quark-light-webfont.svg#Quarklight') format('svg');
    font-weight: normal;
    font-style: normal;

}
