.footer {
    background-color: $green;
    padding-top: 40px;
    position: relative;
    margin-top: 0;
    clear:both;

    &__top {
        address {
            color: #fff;
            p {
                font-family: sans-serif;
                font-size: 80%;
            }
        }
    }
}