.interactive-map {
    
    form {
        color: #fff;
        position: absolute;
        width: 450px;
        left: 0;
        z-index: 99;
        @media only screen and (max-width: 768px) {
            width: 100%;
            position: static;
        }
    }
    .top, .bottom {
        padding: 15px;
    }
    .top {
        background-color: $green;
    }
    .bottom {
        background-color: rgba($green, .8);
    }

    .direction {
        background-color: #fff;
        max-height: 300px;
        overflow-y: scroll;
    }
}

.waypoint { 
    margin-bottom: 1em;
}

.mode {
    text-align: center;
    &__checkbox {
        cursor: pointer;
        padding: 15px;
        input{
            &[type="radio"] {
                display: none;
            }
            &:checked + .fa {
                color: #fff;
            }
        }
        .fa {
            color: rgba(#eee, .5);
        }
    }
}

.waypoints {
    legend {
        color: #fff;
        font-size: 100%;
        display: block;
        width: 100%;
        padding: 0 15px;
        line-height: inherit;
        border: none;
    }
}

.google-map {
    height: 800px;
    @media only screen and (max-width: 768px) {
        height: 400px;
    }
}

.google-map__panel {
    max-height: 500px;
    overflow-y: scroll;
}