.interactive-map {
    
    height: 100%;
    display: flex;

    @media only screen and (max-width: 768px) {
        flex-wrap: wrap;
    }
    
    form {
        color: #fff;
        background-color: #094d44;
        min-width: 300px;
        flex: 0 3 100%;
    }
    .top, .bottom {
        padding: 15px;
    }
    .top {
        background-color: $green;
    }
    .bottom {
        background-color: rgba($green, .8);
    }
}

.direction {
    display: none;
    flex: 1 1 50%;
    overflow: scroll;
}

.google-map {
    flex: 1 1 100%;
    @media only screen and (max-width: 768px) {
        height: 70%;
    }
}

.google-map__panel {
    overflow-y: scroll;
}

.google-map__infowindow {
    &__body, &__media {
        float: left;
    }

    &__media {
        padding-right: 10px;

        img {
            max-width: 50px;
        }
    }
}

.waypoint { 
    margin-bottom: 1em;
}

.mode {
    text-align: center;
    &__checkbox {
        cursor: pointer;
        padding: 15px;
        input{
            &[type="radio"] {
                display: none;
            }
            &:checked + .fa {
                color: #fff;
            }
        }
        .fa {
            color: rgba(#eee, .5);
        }
    }
}

.waypoints {
    legend {
        color: #fff;
        font-size: 100%;
        display: block;
        width: 100%;
        padding: 0 15px;
        line-height: inherit;
        border: none;
    }
}