@import "./_flag";

.navbar {
    margin-bottom: 0;
}

.navbar-top {
    @extend .container-fluid;
    background-color: $green;
    min-height: $header-height;

    .navbar-right {
        @extend .hidden-xs;
        .navbar-nav {
            &__link {
                color: white;
                font-size: 12px;
                line-height: 27px;
                padding: 15px 10px;
                &:hover {
                    color: $green-lighter;
                }
            }
        }
    }
}

.navbar-bottom {
    background-color: $green-lighter;
    background-color: rgba($green-lighter, 0.8);
    position: absolute;
    width: 100%;
    top: $header-height;
}

.navbar-main {
    @extend .nav;
    @extend .navbar-nav;
    & &__link {
        color: white;
        font-size: 13px;
        border-bottom: transparent solid 4px;
        &:hover, 
        &--active, 
        &--active:hover {
            color: white;
            background-color: transparent;
            border-bottom: $green solid 4px;
        }
    }
}

.navbar-brand {
    color: white;
    text-align: center;
    @media (max-width: 400px) {
        font-size: 100%;
        display: block;
        margin: 0 auto;
        float: none;
    }
    img {
        display: inline-block;
        max-height: 30px;
    }
    span {
        font-family: $font-family-heading;
    }
}