@import "./_flag";

.navbar {
    margin-bottom: 0;
}

.navbar-static-top {
    border-width: 0;
}

.navbar-top {
    @extend .container-fluid;
    background-color: $green;
    min-height: $header-height;

    .navbar-right {
        @extend .hidden-xs;
        padding: 5px;
    }
}

.navbar-nav__link {
    @extend .btn;
    background-color: transparent;
    color: white;
    font-size: 12px;
    line-height: 35px;
    padding: 15px 5px !important;

    @media only screen and (max-width: 992px) {
        font-size: 11px;
    }

    &:hover,
    &:focus {
        background-color: transparent !important;
        color: $green-lighter;
    }
}

.navbar-bottom {
    background-color: $green-lighter;
    background-color: rgba($green-lighter, 0.8);
}

.navbar-main {
    @extend .nav;
    @extend .navbar-nav;
    
    & &__link {
        color: white;
        font-size: 13px;
        // padding: 0;

        @media only screen and (max-width: 992px) {
            font-size: 11px;
        }
    }

    & &__link:hover, 
    & &__link:focus {
         background-color: $green-lighter;
    }

    & &__link--active, 
    & &__link--active:hover,
    & &__link--active:focus {
        background-color: $green;
    }
}

.navbar-brand {
    color: white;
    font-size: 18px;
    height: auto;
    @media (max-width: 420px) {
        font-size: 13px;
        display: block;
        margin: 0 auto;
        float: none;
    }
    &__logo {
        @extend .pull-left;
        max-height: 40px;
        margin-right: 15px;
    }
    small {
        display: block;
        font-size: 70%;
        // font-family: $font-family-heading;
    }
}

.navbar-toggle {
    color: #fff;
    padding: 9px 0 10px 9px;
}