.panorama {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.pv-inner {
    display: block;
    height:100%;
    width:100%;
    cursor: move;
    overflow: hidden;
    
    &.pv-animating {
        transition: background-position 500ms ease-out;
    }

    .pv-pano {
        width: auto;
        height: 800px;
    }
}