.pv-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 600px;
}

.pv-inner {
    display: inline-block;
    height: 100%;
    width: auto;
    
    .pv-animating {
        transition: background-position 500ms ease-out;
    }

    .pv-pano {
        height: 100%;
        width: auto;
    }
}

.pv-vertical { 
    .pv-inner {
        width: 100%;
        .pv-pano {
            height: auto;
            width: 100%;
        }
    }
}