.search {
    @extend .navbar-form;
    @extend .navbar-right;

    position: relative;
    box-shadow: none;
    width: 100%;
    margin-right: 0;

    &:after {
        content: $fa-var-search;
        font-family: 'FontAwesome';
        position: absolute;
        top: 17px;
        right: 30px;
        opacity: .4;
    }

    @media only screen and (min-width: 1000px)  {
        width: 25%;
        @at-root {
            .search:after {         
                top: 8px;
            }       
        }
    }

    input[type=text] {
        background-color: rgba($green, .5);
        border-radius: 20px;
        font-size: 12px;
        width: 100%;
        border: none;
        color: #fff;
        padding-right: 30px;

        &::placeholder {
            color: #fff;
            opacity: .5;
            text-align: center;
        }
    }

    &.navbar-collapse {
        box-shadow: none;
        @media only screen and (max-width: 768px) {
            i {
                right: 30px;
            }
        }
        &.in {
            overflow: inherit;
        }
    }

    &__results {
        @extend .list-group;
        position: absolute;
        width: 100%;
        padding: 0 15px;
        left: 0;
        z-index: 9;

        @media only screen and (max-width: 768px) {
            left: 0;
        }
    }

    &__item {
        @extend .row;
        position: relative;
        padding: 10px 15px;
        background-color: $list-group-bg;
        clear: both;

        &:first-child {
            @include border-top-radius($list-group-border-radius);
        }
        &:last-child {
            margin-bottom: 0;
            @include border-bottom-radius($list-group-border-radius);
        }
    }

    &__image {
        @extend .col-xs-3;
        padding: 0;
        .label {
            position: absolute;
        }
        img {
            @extend .img-responsive;
        }
    }

    &__title {
        @extend .col-xs-7;
        padding-right: 0;
    }

    &__links {
        padding: 0;
        text-align: right;
        @extend .col-xs-2;
    }

    &__heading {
        font-size: 1em;
        margin-top: 0;
        word-wrap: break-word;
    }

    &__body {
        color: $gray;
        font-size: 70%;
    }

    &__keyword {
        background-color: $green-lightest;
    }
}