html, body, #app {
    min-height: 100%;
}

body {
    background: $bg-color url("../images/bg-bottom.png") no-repeat;
    background-position: bottom center;
    background-size: contain;
}

#app .container-fluid {
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quarkbold' sans-serif;
}

a {
    color: $green;
    &:hover {
        color: $green-lighter;
    }
}
.slick--black {
    background-color: #000;
}
.slick-slider {
    .slick-prev,
    .slick-next {
        z-index: 2;
    }
    .slick-prev {
        left: 25px;
    }
    .slick-next {
        right: 25px;
    }
    .slick-list {
        .slick-slide {
            position: relative;
            max-height: 500px;
            @media only screen and (max-width: 600px) {
                max-height: 300px;
            }
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
                max-height: 100%;
            }
            span {
                color: #fff;
                background-color: rgba($green-lighter, .7);
                position: absolute;
                padding: 10px 40px;
                bottom: 10%;
                left: 20%;
            }
        }
    }
}
