html, body {
    height: 100%;
}

body {
    background-color: #eee;
}

#app {
    height: 100%;
    .container-fluid {
        padding: 0;
    }
}

[v-cloak] {
    display: none;
}

.wrapper {
    background: $bg-color;
    height: 100%;
    min-height: 100%;

    > div {
        overflow:auto;
    }

    .bottom-buttons {
        @extend .text-center;
        margin-bottom: 1em;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quarkbold' sans-serif;
}

a {
    color: $green;
    &:hover {
        color: $green-lighter;
    }
}

address {
    a[href^=tel],
    a[href^=mail] {
        color: #fff;
    }
}

.readmore {
    float: right;
    margin-top: 15px;
}

.notfound {
    &__body {
        color: $gray-light;
        font-size: 100%;
        text-align: center;
    }
}
