$bg-color:              $gray-lighter;
$green:                 #094d44;
$green-lighter:         #267671;

$font-family-heading:   'Quarkbold', sans-serif;
$header-height:         57px;
$sprite-path:           '../images/sprite.png';
$footer-height:         60px;

$slick-loader-path: '../images/';
$slick-font-path: '../fonts/';